.body {
  background-color: rgb(33, 99, 99);
}
.nav{text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
justify-content: space-around;

}
#header {
  color: white;
  font-size: 25px;
}
h3,
h4,
h5 {
  text-align: center;
  color: white;
  font-size: 20px;
}
p {
  color: white;
  font-size: 20px;
}
#li {
  color: white;
  font-size: 20px;
}
a#Top {
  color: white;
  font-size: 24px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
a#Applynow {
  color: white;
  font-size: 24px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
a#Top:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
a#Applynow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
a#pmp{color: white;
  font-size: 24px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px
}
a#pmp:hover{background-color: rgba(0, 0, 0, 0.7);
}
a#act{color: white;
  font-size: 24px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px
}
a#act:hover{background-color: rgba(0, 0, 0, 0.7);

}
