.body{ background-color: rgb(33, 99, 99);
    text-align: center; 
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline; 
}

#heading{ color: white;   
}

#Tablebox{border: solid white 0.15em;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}
#Tablebox  :hover{background-color: rgb(67, 71, 71) ;
}
  .td :hover{
    background-color: rgb(67, 71, 71);
}
#schoolname{ font-size: 5em;


}
#Tableheading{font-size: 2em;
    color: white;

}
.Tablesubheading{font-size: 1.5em;
    color: white;
    border: solid white;
background-color: grey;
font-family: Arial, Helvetica, sans-serif;
padding: 15px;
}
#Tabledata{
    font-size: 1.5em;
    color: white;
}
.td{
    color: white;
    padding: 15px;
    text-align: left;
    border: solid white;
    background-color: grey;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#th-title{
    border: solid white;
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
@media screen and (max-width: 768px) {
    th, td {
        padding: 10px;
        font-size: 0.9em;
    }

    caption {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding: 0 10px;
      /* Add padding to ensure content doesn't touch the edges */
      overflow-x: auto;
    }

    table {
        width: 100%;
        font-size: 0.8em;
        table-layout: fixed;
    }

    th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: right;
        padding: 10px;
        word-wrap: break-word;
    }
}

    
/*#Tablebox #tr :hover{background-color: black; } */
      