.body{ background-color: rgb(33, 99, 99);
    text-align: center;
}
#heading{ color: white;
    
}
#Tablebox{border: solid white 0.15em;
    border-collapse: collapse;


}
#schoolname{ font-size: 5em;


}
#Tableheading{font-size: 2em;
    color: white;

}
.Tablesubheading{font-size: 1.5em;
    color: white;
    border: solid white;
background-color: grey;
}
#Tabledata{
    font-size: 1em;
    color: white;
}
.td{
    color: white;
    padding: 10px;
    text-align: left;
    border: solid white;
    background-color: grey;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#th-title{
    border: solid white;
    background-color: grey;
}